<div class="container-fluid col-10 col-md-5">

	<div id="homeCarousel" class="carousel carousel-light slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner rounded">


			<div class="carousel-item active" data-bs-interval="5000">
				{% if sounds|length < 1 %}
					<img src="{{asset('build/images/placeholder.png')}}" alt="placeholder" class="d-block mx-auto w-100">
				{% else %}
					<img src="{% for key, sound in sounds %}{% if key == 0 %}{{sound.imageName ? "uploads/covers/" ~ sound.imageName : "build/images/placeholder.png"}}{% endif %}{% endfor %}" class="d-block mx-auto w-100" alt="troisieme img">
				{% endif %}
				<div class="carousel-caption d-flex flex-column">
					<h5>
						<a href="{% for key, sound in sounds %}{% if key == 0 %} {{path('app_listen',{id:sound.id})}}{% endif %}{% endfor %} " class="text-white">
							{% for key, sound in sounds %}
								{% if key == 0 %}
									{{sound.titre}}
								{% endif %}
							{% endfor %}
						</a>
					</h5>
					{% for key, sound in sounds %}
						{% if key == 0 %}
							<p>
								<em>{{sound.type.name}}</em>
							</p>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="carousel-item" data-bs-interval="3000">
				{% if sounds|length < 2 %}
					<img src="{{asset('build/images/placeholder.png')}}" alt="placeholder" class="d-block mx-auto w-100">
				{% else %}
					<img src="{% for key, sound in sounds %}{% if key == 1 %}{{sound.imageName ? "uploads/covers/" ~ sound.imageName : "build/images/placeholder.png"}}{% endif %}{% endfor %}" class="d-block mx-auto w-100" alt="troisieme img">
				{% endif %}
				<div class="carousel-caption d-flex flex-column">
					<h5>
						<a href="{% for key, sound in sounds %}{% if key == 1 %} {{path('app_listen',{id:sound.id})}}{% endif %}{% endfor %}" class="text-white">
							{% for key, sound in sounds %}
								{% if key == 1 %}
									{{sound.titre}}
								{% endif %}
							{% endfor %}
						</a>
					</h5>
					{% for key, sound in sounds %}
						{% if key == 1 %}
							<p>
								<em>{{sound.type.name}}</em>
							</p>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="carousel-item">
				{% if sounds|length < 3 %}
					<img src="{{asset('build/images/placeholder.png')}}" alt="placeholder" class="d-block mx-auto w-100">
				{% else %}
					<img src="{% for key, sound in sounds %}{% if key == 2 %}{{sound.imageName ? "uploads/covers/" ~ sound.imageName : "build/images/placeholder.png"}}{% endif %}{% endfor %}" class="d-block mx-auto w-100" alt="troisieme img">
				{% endif %}
				<div class="carousel-caption d-flex flex-column">
					<h5>
						<a href="{% for key, sound in sounds %}{% if key == 2 %} {{path('app_listen',{id:sound.id})}}{% endif %}{% endfor %}" class="text-white">
							{% for key, sound in sounds %}
								{% if key == 2 %}
									{{sound.titre}}
								{% endif %}
							{% endfor %}
						</a>
					</h5>
					{% for key, sound in sounds %}
						{% if key == 2 %}
							<p>
								<em>{{sound.type.name}}</em>
							</p>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
