<div class="container col-12 col-md-6 col-xl-5">

	<div id="homeCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">


			<div class="carousel-item active" data-bs-interval="5000">
				<img src="{% for key, sound in sounds %}{% if key == 0 %}uploads/covers/{{sound.imageName}}{% endif %}{% endfor %}" class="d-block mx-auto" alt="first-element">
				<div class="carousel-caption d-block  text-white rounded">
					<h5>
						<a href="" class="text-white">
							{% for key, sound in sounds %}
								{% if key == 0 %}
									{{sound.titre}}
								{% endif %}
							{% endfor %}
						</a>
					</h5>
				</div>
			</div>
			<div class="carousel-item" data-bs-interval="3000">
				<img src="{% for key, sound in sounds %}{% if key == 1 %}uploads/covers/{{sound.imageName}}{% endif %}{% endfor %}" class="d-block mx-auto" alt="deuxieme img">
				<div class="carousel-caption d-block text-white rounded">
					<h5>
						<a href="" class="text-white">
							{% for key, sound in sounds %}
								{% if key == 1 %}
									{{sound.titre}}
								{% endif %}
							{% endfor %}
						</a>
					</h5>
				</div>
			</div>
			<div class="carousel-item">
				<img src="{% for key, sound in sounds %}{% if key == 2 %}uploads/covers/{{sound.imageName}}{% endif %}{% endfor %}" class="d-block mx-auto" alt="troisieme img">
				<div class="carousel-caption d-block rounded">
					<h5>
						<a href="" class="text-white">
							{% for key, sound in sounds %}
								{% if key == 2 %}
									{{sound.titre}}
								{% endif %}
							{% endfor %}
						</a>
					</h5>
				</div>
			</div>
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
