{% extends 'base.html.twig' %}

{% block title %}AUDIO | Home
{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="text-center homeText">Derniers sons :</h2>
	</div>
	{# {% if sounds|length > 0 %} #}
	{{include('home/carousel.html.twig')}}

	{# {% endif %} #}

	{% if app.user %}
		<div class="d-flex flex-column align-items-center justify-content-center mt-4 mt-sm-0">
			<p class="myp h4 text-uppercase mb-4">Hey
				{{app.user.name}}
				!</p>
			<a href="{{path('app_sounds_create')}}" class="btn btn-success rounded-pill">Let's Share</a>
		</div>
	{% else %}
		<p class="text-center mt-5">Pour partager vos sons veuillez vous
			<a href="{{path('app_register')}}">
				inscrire</a>
			ou vous
			<a href="{{path('app_login')}}">
				connectez</a>
		</p>
	{% endif %}
{% endblock %}
