{% extends 'base.html.twig' %}

{% block title %}AUDIO | Parcourir
{% endblock %}


{% block body %}
	<div class="container">
		{{form_start(search_form)}}
		{{form_widget(search_form)}}
		<input type="submit" value="Search" class="btn btn-success">
		{{form_end(search_form)}}
	</div>
	<div class="sounds-list container mt-2">
		{% for sound in sounds %}
			<div class="sound-card card">
				<div class="card-header w-100 align-items-center">
					<p>Posté par
						<strong>{{sound.user.name}}</strong>
						{{sound.createdAt|ago}}
					</p>
				</div>
				<a href="{{path('app_listen',{id:sound.id})}}" class="d-flex justify-content-center align-items-center col-xl-6 col-8 rounded">
					<img class="w-100 shadow" src={{(sound.imageName ? "/uploads/covers/" ~ sound.imageName : asset('build/images/placeholder.png'))}} alt="{{sound.titre ~ " image"}}">
				</a>
				<div class="card-body">

					<h3>{{ sound.titre }}</h3>

					<em>{{sound.type.name}}</em>


				</div>
			</div>

		{% endfor %}
		{{ knp_pagination_render(sounds) }}
	</div>

{% endblock %}
