{% extends 'base.html.twig' %}

{% block title %}AUDIO |
{% endblock %}


{% block body %}
	<h1>Liste des sons :</h1>
	<div class="sounds-list container">
		{% for sound in sounds %}
			<div class="sound-card card p-4 ">
				<a href="{{path('app_listen',{id:sound.id})}}" class="d-flex justify-content-center align-items-center col-lg-8 rounded">
					<img class="w-100 shadow" src={{(sound.imageName ? "/uploads/covers/" ~ sound.imageName : asset('build/images/placeholder.png')) | imagine_filter('list_img')}} alt="{{sound.titre ~ " image"}}">
				</a>
				<div class="card-body">

					<h2>{{ sound.titre }}</h2>
					<p>{{ sound.description }}</p>
				</div>
			</div>

		{% endfor %}
		{{ knp_pagination_render(sounds) }}
	</div>

{% endblock %}
