{% extends 'base.html.twig' %}


{% block title %}AUDIO |
	{{sound.titre}}
{% endblock %}
{% block body %}
	<div class="container-fluid d-flex justify-content-center flex-column">
		<div class="container d-flex justify-content-around h-75 flex-column align-items-center mt-4">
			<h2 class="myp">{{sound.titre}}</h2>
			<div class="audio-player col-12 col-lg-6">
				<img src="{{(sound.imageName ? "/uploads/covers/" ~ sound.imageName : asset('build/images/placeholder.png')) | imagine_filter('player_img')}}" alt="{{sound.titre}}" class="col-8 h-75 rounded">
				<audio {% if sound.download == false or app.user == null %} controlslist="nodownload" {% endif %} controls src="/uploads/sounds/{{sound.soundName}}"></audio>
			</div>
			<p>{{sound.description}}</p>
			{% if app.user %}
				<div class="btn-group mt-2 col-12 col-lg-6">
					<a href="{{path('app_sounds_edit',{id:sound.id})}}" class="btn btn-info col-6">Edit</a>
					<a href="#" onclick="event.preventDefault(); confirm('Confirmer la supression ?') && document.getElementById('delete_sound').submit()" class="btn btn-danger col-6 delete-btn">Delete</a>
				</div>
			{% endif %}
		</div>


	</div>


	<form id="delete_sound" method="post" style="display:none;" action="{{path('app_sounds_delete', {id:sound.id})}}">
		<input type="hidden" name="_method" value="DELETE">
		<input type="hidden" name="csrf_token" value="{{csrf_token('sound_delete')}}">
		<input type="submit" value="DELETE">
	</form>

{% endblock %}
