{% extends 'base.html.twig' %}

{% block title %}AUDIO | Inscription
{% endblock %}

{% block body %}
	<h1 class="text-center myp">Inscription</h1>
	<div class="container">

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.name) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn btn-success" formnovalidate>Inscription</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
