{% set route_name = app.request.attributes.get('_route') %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container-fluid">
		<div class="logo d-flex">
			<a class="logo-img" href="{{path('app_home')}}">
				<img src="{{asset('/build/images/logo.png')}}" alt="logo">
			</a>
			<h1 class="h3 d-none d-sm-flex justify-content-center align-items-center">AUDIO</h1>
			<form class="mx-3 d-md-flex d-none" method="GET" action={{path('app_search_bar')}}>
				<input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="title" autocomplete="off">
				<button class="btn btn-outline-success" type="submit">
					<i class="fas fa-search"></i>
				</button>
				<input type="hidden" name="csrf_token" value="{{csrf_token('sound_search')}}">
			</form>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				<li class="nav-item">
					<a {% if route_name == "app_home" %} class="nav-link active" {% else %} class="nav-link" {% endif %} aria-current="page" href=" {{path('app_home')}} ">Home</a>
				</li>


				{% if app.user %}
					<li class="nav-item dropdown">
						<a {% if route_name == "app_user_account" or route_name == "app_account_edit" %} class="nav-link dropdown-toggle active" {% else %} class="nav-link dropdown-toggle" {% endif %} href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Compte
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li>
								<a {% if route_name == "app_user_account" %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href=" {{path('app_user_account')}} ">Mes Sons</a>
							</li>
							<li>
								<a {% if route_name == "app_account_edit" %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href=" {{path('app_account_edit')}} ">Modifier le compte</a>
							</li>
							<li>
								<a class="dropdown-item" href=" {{path('app_logout')}} ">Déconnexion</a>
							</li>
						</ul>
					</li>

					<li class="nav-item">
						<a {% if route_name == "app_sounds_create" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href=" {{path('app_sounds_create')}} ">Upload</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a {% if route_name == "app_login" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href=" {{path('app_login')}} ">Connexion</a>
					</li>
					<li class="nav-item">
						<a {% if route_name == "app_register" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href=" {{path('app_register')}} ">Inscription</a>
					</li>

				{% endif %}
				<li class="nav-item">
					<a {% if route_name == "app_sounds_list" or route_name == "app_sounds_edit" or route_name == "app_listen" or route_name == "app_sounds_search" or route_name == "app_search_bar" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href=" {{path('app_sounds_list')}} ">Parcourir</a>
				</li>
				<form class="mx-3 d-md-none d-flex" method="GET" action={{path('app_search_bar')}}>
					<input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="title" autocomplete="off">
					<button class="btn btn-outline-success" type="submit">
						<i class="fas fa-search"></i>
					</button>
					<input type="hidden" name="csrf_token" value="{{csrf_token('sound_search')}}">
				</form>

			</li>
		</div>
	</div>
</nav>
